/* Inicio do estilo do template --------------------------------------------------------------------------------------- */
/* Estilo do topo */
#topo{width: 100%; height: 130px; border: 1px solid white; background-color: #008080;}

/* Estilo da div dentro da div topo */
.topo{width: 100%; height: 40px; border: 1px solid white; background-color: white;}

/* Estilo da logomarga */
.logo{width: 120px;}

/* Estilo do menu */
.menu{width: 99,9%; height: 25px; border: 1px solid #00CED1; background-color: #00CED1; margin-top: 63px;}

/*Estilo dos links do menu */
.links-menu{font-size: 12px; font-family: Arial; text-decoration: none; color: white; padding: 10px; margin-top: auto; float: right;}
.links-menu:hover{color: #808080;}

/* Estilo da div centro */
#centro{width: 100%; height: 200px; border: 1px solid #00ced1; background-color: #00ced1; margin-top: 30px; margin-left: auto; margin-right: auto;}

/* Estilo dos titulos da div centro ------------------------------------------------------------------------------------*/
.titulos-centro{font-size: 13px; font-family: Arial; color: #008080; margin-top: 20px;}

/* estilos das divs do centro */
.div-links-centro{width: 200px; height: 180px; border: 1px solid #00CED1; float: left; margin-left: 130px;}

/* Estilo dos links das divs do centro */
.links-centro{font-size: 12px; font-family: Arial; text-decoration: none; color: #808080;}
.links-centro:hover{color: white;}

/* Estilo do rodapé */
#rodape{width: 100%; height: 100px; margin-top: 30px; text-align: center;}

/* Estilo padrão para os textos */
.textos{font-size: 12px; font-family: Arial; color: #808080;}
/* Fim do estilo do template  ---------- */



/* Estilo do login ----------------------*/
.img-login{width: 50px;}
/* Fim do estilo login */



/* início do estilo do formulário create-empresa */
/* Estilo da div criar-empresa */
#criar-empresa{width: 70%; height: auto; border: 1px solid white; border-radius: 8px; margin-top: 30px; margin-left: auto; margin-right: auto;}

/* Estilo dos campos do formuário */
.form-empresa{width: 210px; height: 5px; font-size: 12px; font-family: Arial #808080; padding: 5px; float: center; margin-top: 5px;}

/* Estilo do campo complemento */
.form-complemento{width: 665px; height: 5px; font-size: 12px; font-family: Arial #808080; padding: 5px; float: center; margin-top: 5px;}



/* Estilo dos titulos do formulário criar-empresa */
.titulos-form{font-size: 12px; font-family: Arial; color: #808080;}

/* estilo do texto de confirmação do cadastro da loja */
.texto-form{font-size: 12px; font-family: Arial; color: #808080; background-color: #00CED1;}

/* estilo do botão. Obs. Padrão para todos os botões */
.btn-btn{width: auto; height: 25px; background-color: #00CED1; border: 2px solid #00CED1; color: white; border-radius: 3px;}
.btn-btn:hover{border-color: #AFEEEE;}

/* Estilo do link do formulário criar-empresa */
.link{font-size: 12px; font-family: Arial; text-decoration: none; color: #008080;}
.link:hover{color: #00ced1;}

/* Estilo da div dashboard */
.dashboard{
    width: 60%;
    height: auto;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: #808080;
    font-size: 14px;
    font-family: Arial;
    padding: 10px;
}

.linha{
    width: 99%;
    border: 1px solid #DCDCDC;
}
